# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
aws/node_modules/
myawesonesite/node_modules/
myawesonesite/.pnp/
myawesonesite/.pnp.js

# testing
myawesonesite/coverage

# next.js
myawesonesite/.next/
myawesonesite/out/

# production
/myawesonesite/build

# misc
/myawesonesite/.DS_Store
/myawesonesite/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/myawesonesite/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

aws/cdk.out/